.App {
  text-align: center;
}

.App-header {
  font-family: gill-sans-nova, sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: x-large
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
